%form-base {
  @include text-style(16, $primary);
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  font-weight: 400;
  color: $primary;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 4px;
  appearance: none;

  &:not(:disabled):hover {
    background-color: $background;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &::placeholder {
    color: $tertiary;
  }
}

.form-select,
.form-input {
  @extend %form-base;
}

.select-group {
  position: relative;

  .form-select {
    padding-right: 40px;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
  }

  .ic-caret {
    @include pos-center-y;
    right: 10px;
    font-size: 24px;
    color: $tertiary;
    pointer-events: none;
  }

  &.is-active {
    .form-select {
      border-color: $blue;
    }
    .ic-caret {
      color: $blue;
    }
  }
}

.input-group {
  position: relative;

  .form-input {
    padding-left: 40px;
  }
  .ic-search {
    @include pos-center-y;
    left: 10px;
    font-size: 20px;
    color: $secondary;
  }
}
